.foodList {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly
}

.foodList button {
  margin-left: 10px;
}

img {
  width: 150px;
  height: 150px;
}

p {
  color: red;
  margin-left: 10px;
}

.todayList {
  margin: 0 auto;
}

.nutritionApp {
  display: flex;
}

.left {
  width: 50%;
}

label {
  font-weight: 700;
}